body {
    padding: 14px;
}
header {
    background-color: rgb(107, 198, 189);
    border: 2px solid rgb(22, 22, 22);
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    color: white;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.divider {
    margin: 0px 240px;
}

.display {
    background-color: rgb(208, 206, 206);
    border: 1px solid rgb(57, 138, 84);
    text-align: center;
    padding: 18px;
}

.history {
    background-color: white;
    border: 2px white;
    padding-left: 8px;
}

.searchIndent p {
    text-indent: 60px;
}

.forecast {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    text-align: center;
    padding: 20px;
}

